<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Information</title>
</head>
<body>
<h2>Network Information</h2>
<table id="networksTable">
    <tr>
        <th>SSID</th>
        <th>Network Type</th>
        <th>Authentication</th>
        <th>Encryption</th>
        <!-- Adaugă mai multe coloane după necesitate -->
    </tr>
    <!-- Rândurile vor fi adăugate dinamic aici -->
</table>

<script src="/js/app.js" type="text/javascript"></script>


</body>
</html>
