<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Refreshing...</title>
    <link rel="stylesheet" href="/css/refresh.css">
    <script src="/js/refresh.js"></script>
</head>
<body>
<div class="loading-container">
    <div class="loading-wifi-container">
        <img src="/images/wifi.webp" alt="WiFi Loading" class="loading-wifi">
    </div>
    <h2>Refreshing network information, please wait...</h2>
    <h3 id="countdown">Time remaining: <span id="seconds-remaining">22</span> seconds</h3>
</div>
</body>
</html>
